:root {
  --font-size-form: calc(0.75rem + 1vmin);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100vh;
}

.background-section {
  height: 40%;
}

.form-section {
  height: 60%;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

/*img background section */
.background-section__img {
  background-image: url(./imgs/andrew-romanov-qlgll3u2FTk-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.background-section__logo-container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.445);
  padding: 0.2rem 1rem;
}

.background-section__logo-container__img {
  background-image: url(./imgs/odin-lined.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 4rem;
  height: 3rem;
}

.background-section__logo-container h2 {
  color: aliceblue;
  font-size: 2rem;
}

/* form section  title*/

.form-section__title-container__text {
  font-size: var(--font-size-form);
  text-align: justify;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2px;
}
.form-section__title-container__text span {
  font-style: italic;
}

.form-section__title-container__text.subtitle {
  text-align: left;
  margin: 1rem 0rem;
}

/*form section  form container*/

.form-section__elements {
  background: white;
  padding: 1rem;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
}

.form-section__elements p:nth-child(1) {
  font-size: var(--font-size-form);
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: rgb(61, 61, 61);
  margin-bottom: 1rem;
}

.form-section__elements p {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.form-section__elements input,
.form-section__elements label {
  width: 100%;
}

.form-section__elements input:focus-visible {
  outline: 1px solid rgb(23, 141, 238);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.form-section__elements input {
  padding: 0 0.3rem;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 4px;
  /* margin-bottom: 1rem; */
  letter-spacing: 0.05rem;
  font-size: 1rem;
  background: rgb(252, 252, 252);
  height: 2.5rem;
}

.form-section__elements label {
  color: rgb(116, 116, 116);
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

/*form section  form button*/

button {
  width: 10rem;
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 8px;
  background: rgb(81, 95, 29);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  color: whitesmoke;
  font-size: 0.8rem;
  font-weight: 900;
  cursor: pointer;
}

button:hover {
  color: white;
  background: rgb(43, 113, 243);
}

button:focus-visible {
  outline: 2px solid rgb(85, 140, 185);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.form-section > p {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

.form-section p > a {
  text-decoration: none;
  color: rgb(81, 95, 29);
}

/*media querries */

@media (min-width: 40rem) {
  main {
    display: flex;
    flex-direction: row;
  }
  .background-section {
    height: 100%;
    width: 30%;
  }
  .form-section {
    padding: 0;
    width: 70%;
    height: 100%;
    justify-content: center;
    gap: 2rem;
  }

  .form-section__elements-entries {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-section__elements-entry {
    display: flex;
    flex-flow: column;
  }

  .form-section__elements {
    width: 100%;
  }

  .form-section__elements input,
  .form-section__elements label {
    width: 40%;
  }

  .form-section__title-container {
    position: relative;
    width: 70%;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  button {
    margin-left: 2rem;
  }

  .form-section > p {
    text-align: left;
    margin-left: 2rem;
  }
}
