:root {
  --ff-primary: "Roboto", san serif;
  --ff-secondary: "Arial", serif;
  --clr-text-primary: #252525;
  --clr-text-secondary: rgb(73, 73, 73);
  --clr-text-labels: rgb(104, 104, 104);
  --clr-header-logo-img: rgb(255, 255, 255);
  --clr-header-logo-text: rgb(255, 255, 255);
  --clr-button-bg: rgb(81, 95, 29);
  --clr-button-text: rgb(255, 255, 255);
  --clr-button-hover: rgb(23, 131, 219);
  --clr-warning-text: red;
  --clr-inpt-border: rgb(235, 233, 233);
  --bg-clr-primary: rgb(228, 228, 228);
  --bg-clr-secondary: rgb(255, 255, 255);
  --inpt-outline-focus: rgb(238, 102, 23);
  --inpt-outline-error: #ff2631;
  --inpt-outline-valid: rgb(141, 194, 134);
  --clr-visibility-icon: rgb(90, 90, 90);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--ff-primary);
  color: var(--clr-text);
  font-size: 16px;
  background-color: var(--bg-clr-primary);
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 30% auto;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.form-section {
  display: grid;
  row-gap: 1rem;
  /* align-items: center; */
  grid-template-rows: repeat(3, min-content);
}

/*img background section */

.background-section__img {
  background-image: url(./imgs/andrew-romanov-qlgll3u2FTk-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.background-section__logo-container {
  /* position: sticky;
  top: 0; */
}

.background-section__logo-container__img {
  /* background-image: url(./imgs/odin-lined.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 4rem;
  height: 3rem; */
}

.background-section__logo-container p {
}

/* form section  title*/

.form-section__title-container {
  align-self: center;
  line-height: 1.5;
}

.form-section__title-container__text,
.form-section__title-container__text.subtitle {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 600;
}
.form-section__title-container__text {
  margin-inline: 1rem;
}

.form-section__title-container__text.subtitle {
  margin-top: 0.5rem;
  text-align: center;
}

/*form section  form container*/

form > p {
  color: var(--clr-text-secondary);
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.form-section__elements {
  padding: 2rem 1rem;
  background-color: var(--bg-clr-secondary);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.form-section__elements-entry {
  font-size: 1rem;
}
.form-section__elements-entry > p {
  color: var(--clr-warning-text);
  font-size: 0.85rem;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  visibility: hidden;
}

.form-section__elements input,
.form-section__elements label {
  min-width: 100%;
  margin-top: 0.1rem;
}

.form-section__elements input:focus-visible {
  outline: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.form-section__elements input {
  border: 2px solid var(--clr-inpt-border);
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5rem;
}

.form-section__elements input.error {
  outline: none;
  border: 2px solid var(--inpt-outline-error);
}

.form-section__elements input:valid:not(#pswd-confirm) {
  border: 2px solid var(--inpt-outline-valid);
}

.form-section__elements label {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--clr-text-labels);
}

/* Validation Icon */

.form-section__elements-entry {
  position: relative;
}

.material-icons-outlined {
  position: absolute;
  font-size: 1.3rem;
  color: var(--clr-visibility-icon);
  right: 2%;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

/*form section  form button*/

#submit-button {
  display: none;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#button {
  padding: 1rem 2.5rem;
  text-align: center;
  font-size: 1rem;
  font-family: var(--ff-primary);
  font-weight: 500;
  color: var(--clr-button-text);
  border: none;
  border-radius: 5px;
  background: var(--clr-button-bg);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#button:focus-visible {
  outline: 2px solid var(--inpt-outline-focus);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#button:hover {
  background-color: var(--clr-button-hover);
}

.button-container > p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--clr-text-secondary);
}

.button-container p > a {
  text-decoration: none;
  color: var(--clr-button-bg);
}

/*media querries */
@media screen and (min-width: 40rem) {
  body {
    grid-template-columns: 25% auto;
    grid-template-rows: 1fr;
  }

  .form-section {
    display: grid;
    grid-template-rows: 33% max-content auto;
    align-items: center;
    row-gap: 3rem;
  }

  .form-section__title-container {
    margin-left: 3rem;
    width: 58%;
    min-width: 428px;
    align-self: end;
  }
  .form-section__title-container__text,
  .form-section__title-container__text.subtitle {
    margin-left: 0;
    font-size: 1.8rem;
    text-align: left;
  }
  .form-section__title-container__text.subtitle {
    margin-top: 3rem;
  }

  .form-section__elements {
    display: grid;
    justify-content: left;
    column-gap: 5rem;
    grid-template-columns: repeat(2, minmax(min-content, 30%));
    padding: 2rem 3rem;
  }

  label,
  input {
    grid-column: 1/-1;
    grid-row: 2/5;
  }

  .form-section__elements > p {
    grid-column: 1/-1;
  }

  .button-container {
    justify-self: start;
    align-self: start;
    margin-left: 3rem;
    margin-top: 0;
  }
}
